gradio
numpy
librosa
matplotlib
mido
pytest
pychord
chorder
miditoolkit
music21
torchcrepe
pretty_midi
gradio_musicmixer @ https://raw.githubusercontent.com/edu-matthew-pham/ai-music-coach/main/musicmixer/dist/gradio_musicmixer-0.0.4-py3-none-any.whl